* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#141e30), to(#243b55));
  background: linear-gradient(to right, #141e30, #243b55);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Noto Sans KR", sans-serif;
}

.header {
  background-color: #24527c;
  -webkit-box-shadow: 1p 5px 5px #3c6e9c;
          box-shadow: 1p 5px 5px #3c6e9c;
  height: 65px;
  margin-bottom: 15px;
  padding: 5px;
  width: 100%;
}
.header .header__image {
  height: 95%;
}

.textareas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.textarea {
  background-color: #13385a;
  border-radius: 5px;
  border-color: #13385a;
  -webkit-box-shadow: 1px 1px 1px #153858;
          box-shadow: 1px 1px 1px #153858;
  color: white;
  font-family: inherit;
  height: 300px;
  resize: none;
  padding: 10px;
  width: 30%;
}

.coincidences {
  background-color: #13385a;
  border: 1px solid black;
  border-radius: 5px;
  height: 300px;
  overflow-y: auto;
  width: 30%;
}

.order {
  border-radius: 5px;
  color: #fcfafa;
  display: inline-block;
  margin-left: 15px;
  padding: 5px 10px;
}

.order--state-exists {
  background-color: #68c968;
  -webkit-box-shadow: 1px 1px 5px #076907;
          box-shadow: 1px 1px 5px #076907;
}

.order--state-notexists {
  background-color: red;
}

.button {
  background-color: rgba(62, 143, 197, 0.849);
  border-color: rgba(118, 168, 201, 0.849);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  display: block;
  height: 75px;
  margin-top: 10px;
  width: 150px;
}

.notcoincidences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.notrecognised, .notmade {
  background-color: #13385a;
  border: 1px solid #24527c;
  -webkit-box-shadow: 1px 1px 1px #153858;
          box-shadow: 1px 1px 1px #153858;
  border-radius: 5px;
  height: 100px;
  overflow-y: auto;
  width: 30%;
}