*{
	box-sizing: border-box;
}

body{
	font-family: 'Noto Sans KR', sans-serif;
}

.textareas{
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.textarea{
	border-radius: 5px;
	font-family: inherit;
	height: 400px;
	resize: none;
	width: 30%;
}

.coincidences{
	border: 1px solid black;
	border-radius: 5px;
	height: 400px;
	overflow-y: auto;
	width: 30%;
}

.order{
	border-radius: 5px;
	color: rgb(252, 250, 250);
	display: inline-block;
	margin-left: 15px;
	padding: 5px 10px;
}

.order--state-exists{
	background-color: rgb(104, 201, 104);
	box-shadow: 1px 1px 5px rgb(7, 105, 7);
}

.order--state-notexists{
	background-color: red;
}

.button{
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.notcoincidences{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.notrecognised, .notmade{
	border: 1px solid black;
	border-radius: 5px;
	height: 100px;
	overflow-y: auto;
	width: 30%;
}